[submodule "esp32/tools/esptool"]
	path = esp32/tools/esptool
	url = git@github.com:espressif/esptool.git
[submodule "libraries/uMail"]
	path = libraries/uMail
	url = https://github.com/shawwwn/uMail.git
[submodule "libraries/micropython-max7219"]
	path = libraries/micropython-max7219
	url = git@github.com:vrialland/micropython-max7219.git
